<div class="relative" >
    <div class="h-100-sm col justify-end align-center">
      <div class="w-30-80-sm flex justify-center pb-3-px">
        <img src="assets/img/albertoalaggio.jpg" alt="" width="100%">
      </div>
    </div>
  
    <div class="bio-container" (click)="openBio()">
      <div class="bio font-13 text-center line-height">
        <h1 class="bold font-13 text-center">ABOUT</h1>
        Always passionate about fashion and photography, after his studies in cultural anthropology at the University of
        Turin, Alberto – born 1993 –
        began traveling to Asia alone, backpacking with his camera in hand.<br> On his return he settled in Milan, where
        he began to publish documentary and
        fashion projects on various internationally renowned magazines. His works are characterized by a balanced dualism
        between reportage and fashion,
        analogue photography and digital photography, with an eye towards geometry and the static nature of the subjects
        he photographs.<br> Alberto always tries
        to keep his eye trained, traveling the world to discover places never seen before and seeking his inspiration from
        the journey itself.
      </div>
    </div>
  
    <div class="contacts-container" (click)="openContacts()">
      <ul class="contacts">
        <li class="bold font-13">
          CONTACTS
        </li>
        <li class="font-13">
          albertoalaggio&#64;hotmail.it
        </li>
        <li class="font-13">
          info&#64;artalents.it
        </li>
        <li class="font-13">
          +39 0258437821
        </li>
        <li class="font-13">
          +39 3911174061
        </li>
      </ul>
    </div>
  
    <div class="flex-center">
      <div id="imgBtn" class="img-btn not-menu">
  
      </div>
    
      <div id="imgCont" class="imgs-container not-menu" #imgContainer>
        <div class="w-30-80-sm mt-100">
          <div *ngFor="let elem of imagesArray">
            <customimage [isNowScrolling]="isNowScrolling" class="w-100" [src]="'assets/img/' + elem.src"
              *ngIf="elem.index == currenIndex"></customimage>
          </div>
        </div>
      </div>
    </div> 
  
    <div class="w-100 flex-center">
      <div class="w-30-80-sm flex justify-between pb-15-px">
        <h2 class="bold font-10 text-center">REPRESENTED BY ARTALENTS, MILAN, ITALY</h2>
        <div class="font-10 "><span (click)="openBio()" class="pointer">ABOUT</span> | <span (click)="openContacts()" class="pointer">CONTACTS</span>
        </div>
      </div>
  
    </div>
  </div>
  